In [6]:
import numpy as np
import pandas as pd
import tkinter as tk
from tkinter import filedialog

In [ ]:
# データフレーム df1 を作成
data1 = {
    'A': ['group1', 'group1', 'group2', 'group2', 'group3'],
    'B': ['value1', 'value2', 'value3', 'value4', 'value5'],
    'c': ['c1', 'c2', 'c3', 'c4', 'c5'],
    'd': ['d1', 'd2', 'd3', 'd4', 'd5'],
    'e': ['e1', 'e2', 'e3', 'e4', 'e5']
}
df1 = pd.DataFrame(data1)

# データフレーム df2 を作成
data2 = {
    'A': ['group1', 'group1', 'group2', 'group2', 'group3'],
    'B': ['value1', 'value2', 'value3', 'value4', 'value8'],
    'c': ['c1', 'c6', 'c7', 'c8', 'c8'],
    'd': ['d1', 'd6', 'd7', 'd8', 'd8'],
    'e': ['e1', 'e6', 'e7', 'e8', 'e8']
}
df2 = pd.DataFrame(data2)

In [ ]:
# df1, df2は比較したい2つのデータフレーム
# 'A'はグループ化するカラム、'B'は比較するカラム

# Step 1: カラムAでグループ化
grouped1 = df1.groupby('A')
grouped2 = df2.groupby('A')

In [ ]:
# Step 2: グループ化した後、カラムBの値を比較し、片方にしかない値を取り出す
unique_to_df1 = grouped1['B'].apply(lambda x: x[~x.isin(df2[df2['A']==x.name]['B'])])
unique_to_df2 = grouped2['B'].apply(lambda x: x[~x.isin(df1[df1['A']==x.name]['B'])])

In [ ]:
print(unique_to_df1)
print(unique_to_df2)

In [ ]:
unique_to_df1.reset_index()

In [ ]:
# Step 3: カラムBの値が同じ場合、その他のカラム（c, d, eなど）の値を比較する
merged = pd.merge(df1, df2, on=['A', 'B'], suffixes=('_df1', '_df2'))
comparison_columns = ['c', 'd', 'e']  # ここに比較したいカラムを指定
for col in comparison_columns:
    differences = merged[merged[col+'_df1'] != merged[col+'_df2']]
    print(differences)  # カラムc, d, eにおける違いを表示

In [ ]:
differences = merged[(merged['c_df1'] != merged['c_df2']) | 
                     (merged['d_df1'] != merged['d_df2']) | 
                     (merged['e_df1'] != merged['e_df2'])]
print(differences)

In [4]:
def get_unique_rows(df1, df2, group_columns, unique_columns):
    # df1とdf2を連結し、重複する行を除去（df1にもdf2にも存在する行を除去）
    concat_df = pd.concat([df1, df2])
    concat_df = concat_df.drop_duplicates(subset=group_columns+unique_columns, keep=False)

    # 連結したデータフレームから、df1とdf2の元のインデックスに基づいてそれぞれの固有の行を抽出
    unique_to_df1 = concat_df[concat_df.index.isin(df1.index)]
    unique_to_df2 = concat_df[concat_df.index.isin(df2.index)]

    return unique_to_df1, unique_to_df2

# 以下のように呼び出します
unique_to_df1, unique_to_df2 = get_unique_rows(df1, df2, ['A', 'B'], ['C'])

# テストデータフレームの作成
df1 = pd.DataFrame({
    'A': ['group1', 'group1', 'group2', 'group2'],
    'B': ['value1', 'value2', 'value3', 'value4'],
    'C': ['c1', 'c2', 'c3', 'c4'],
    'D': ['d1', 'd2', 'd3', 'd4']
})

df2 = pd.DataFrame({
    'A': ['group1', 'group1', 'group2', 'group2'],
    'B': ['value1', 'value5', 'value6', 'value7'],
    'C': ['c5', 'c6', 'c7', 'c8'],
    'D': ['d5', 'd6', 'd7', 'd8']
})

# グループ化と固有の行の取得
group_columns = ['A', 'B']
unique_columns = ['C', 'D']
unique_to_df1, unique_to_df2 = get_unique_rows(df1, df2, group_columns, unique_columns)

print("Unique to df1:")
print(unique_to_df1)

print("\nUnique to df2:")
print(unique_to_df2)

Unique to df1:
        A       B   C   D
0  group1  value1  c1  d1
1  group1  value2  c2  d2
2  group2  value3  c3  d3
3  group2  value4  c4  d4
0  group1  value1  c5  d5
1  group1  value5  c6  d6
2  group2  value6  c7  d7
3  group2  value7  c8  d8

Unique to df2:
        A       B   C   D
0  group1  value1  c1  d1
1  group1  value2  c2  d2
2  group2  value3  c3  d3
3  group2  value4  c4  d4
0  group1  value1  c5  d5
1  group1  value5  c6  d6
2  group2  value6  c7  d7
3  group2  value7  c8  d8

In [8]:
# データフレームの作成
import pandas as pd

# db1の作成
db1 = pd.DataFrame({
    'A': ['a1', 'a2', 'a3'],
    'B': ['b1', 'b2', 'b3'],
    'C': ['c1', 'c2', 'c3'],
})

# db2の作成
db2 = pd.DataFrame({
    'A': ['a4', 'a5', 'a6'],
    'B': ['b4', 'b5', 'b6'],
    'C': ['c4', 'c5', 'c6'],
})

# db3の作成
db3 = pd.DataFrame({
    'B': ['a1', 'a2', 'a3', 'a4', 'a5', 'a6'],
    'C': ['a7', 'a8', 'a9', 'a10', 'a11', 'a12'],
})

In [10]:
# db1とdb3をカラムA（db1）とカラムB（db3）を基に結合
db1 = db1.merge(db3, left_on='A', right_on='B', how='left')

# db1のカラムAをdb3のカラムCの値で更新
db1['A'] = db1['C_y']

# db2とdb3をカラムA（db2）とカラムC（db3）を基に結合
db2 = db2.merge(db3, left_on='A', right_on='C', how='left')

# db2のカラムAをdb3のカラムBの値で更新
db2['A'] = db2['B_y']

In [15]:
db1

    A B_x C_x B_y C_y   B   C
0  a7  b1  c1  a1  a7  a1  a7
1  a8  b2  c2  a2  a8  a2  a8
2  a9  b3  c3  a3  a9  a3  a9